body {
    font-family: sans-serif;
    --bg: #303030;
    --green: #8FD694;
    --yellow: #f0f757;
    --gray: #bbb9b9;
    --box: #eee;
    --border: silver;
    --active: #40a2ee;
    background-color: var(--bg);
    color: var(--bg)
}
.message-container {
    color: var(--box);
    height: 35px;
    width: 340px;
    margin: auto;
    font-size: 1.5rem;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block-container {
    width: 290px;
    height: auto;
    margin: auto;
}

.keyboard {
    width: 350px;
    height: auto;
    margin: auto;
}

.word-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 5px;
    margin-top: 5px;
    justify-content: center;
}

.keyboard-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    margin-top: 2px;
    justify-content: center;
}

.char-container {
    border-radius: 3px;
    background-color: var(--box);
    font-family: sans-serif;
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    height: 48px;
    width: 44px;
    border: 2px solid var(--border);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.key {
    border-radius: 2px;
    background-color: var(--box);
    font-family: sans-serif;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 300;
    height: 33px;
    width: 27px;
    border: 1px solid var(--border);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.key:hover {
    border: 2px solid var(--active);
    margin: 0px;
}

@keyframes to-green {
    50% {
        transform: rotateY(90deg);
        background-color: var(--box);
    }
    51% {
        background-color: var(--green);
    }
    100% {
        transform: rotateY(0deg);
        background-color: var(--green);
        border-color: var(--green);
    }
}


@keyframes to-gray {
    50% {
        transform: rotateY(90deg);
        background-color: var(--box);
    }
    51% {
        background-color: var(--gray);
    }
    100% {
        transform: rotateY(0deg);
        background-color: var(--gray);
        border-color: var(--gray);
    }
}

@keyframes to-yellow {
    50% {
        transform: rotateY(90deg);
        background-color: var(--box);
    }
    51% {
        background-color: var(--yellow);
    }
    100% {
        transform: rotateY(0deg);
        background-color: var(--yellow);
        border-color: var(--yellow);
    }
}

.rotate-green {
    animation: to-green 1s;
    animation-fill-mode: forwards;
}

.rotate-gray {
    animation: to-gray 1s;
    animation-fill-mode: forwards;
}

.rotate-yellow {
    animation: to-yellow 1s;
    animation-fill-mode: forwards;
}

.popup {
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--bg);

    position: absolute;
    width: 280px;
    height: 353px;
    margin: auto;
    top: 46px;
    left: calc(50% - 145px)
} 

.header {
    color: var(--box);
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    text-align: center;
    font-size: 1.5rem;
}

.btn {

    font-size: small;
    border: 2px solid var(--border);
    border-radius: 3px;
    background-color: var(--box);
    width: 80%;
    height: 21px;
    margin: auto;
    margin-top: 2px;

    vertical-align:auto;
    justify-content: center;
    padding: auto;
    padding-top: 3px;
    padding-left: 10px;
}

.btn:hover {
    border: 2px solid var(--active);   
}

p {
    color: var(--box);
    width: 80%;
    margin:auto;
    margin-top: 10px;
}