body {
    font-family: sans-serif;
    --bg: #303030;
    --green: #8FD694;
    --yellow: #f0f757;
    --gray: #aaa9a9;
    --box: #eee;
    --border: silver;
    --active: #40a2ee;
    background-color: var(--bg);
    color: var(--bg)
}
.message-container {
    color: var(--box);
    height: 35px;
    width: 340px;
    margin: auto;
    font-size: 1.5rem;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.svg {
    position: absolute;
    width: 20px;
    height: auto;
    right: 15px;
    top: 15px;
    filter: invert(80%);
}

#howto {
    top: 45px;
}

#refresh {
    top: 75px;
}

.svg:hover {
    filter: invert(100%);
    width: 23px;
    top: 14px;
    right: 13px;
}

#howto:hover {
    top: 44px;
}

#refreh:hover {
    top: 74px;
}

.block-container {
    width: 290px;
    height: auto;
    margin: auto;
}

.keyboard {
    width: 350px;
    height: auto;
    margin: auto;
}

.word-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 5px;
    margin-top: 5px;
    justify-content: center;
}

.keyboard-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    margin-top: 2px;
    justify-content: center;
}

.char-container {
    border-radius: 3px;
    background-color: var(--box);
    font-family: sans-serif;
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    height: 48px;
    width: 44px;
    border: 2px solid var(--border);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.key {
    border-radius: 2px;
    background-color: var(--box);
    font-family: sans-serif;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 300;
    height: 33px;
    width: 27px;
    border: 1px solid var(--border);
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.key:hover {
    border: 2px solid var(--active);
    margin: 0px;
}

@keyframes to-green {
    50% {
        transform: rotateY(90deg);
        background-color: var(--box);
    }
    51% {
        background-color: var(--green);
    }
    100% {
        transform: rotateY(0deg);
        background-color: var(--green);
        border-color: var(--green);
    }
}


@keyframes to-gray {
    50% {
        transform: rotateY(90deg);
        background-color: var(--box);
    }
    51% {
        background-color: var(--gray);
    }
    100% {
        transform: rotateY(0deg);
        background-color: var(--gray);
        border-color: var(--gray);
    }
}

@keyframes to-yellow {
    50% {
        transform: rotateY(90deg);
        background-color: var(--box);
    }
    51% {
        background-color: var(--yellow);
    }
    100% {
        transform: rotateY(0deg);
        background-color: var(--yellow);
        border-color: var(--yellow);
    }
}

.rotate-green {
    animation: to-green 800ms;
    animation-fill-mode: forwards;
}

.rotate-gray {
    animation: to-gray 800ms;
    animation-fill-mode: forwards;
}

.rotate-yellow {
    animation: to-yellow 800ms;
    animation-fill-mode: forwards;
}

.popup {
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--bg);

    position: absolute;
    width: 280px;
    height: 353px;
    margin: auto;
    top: 46px;
    left: calc(50% - 145px)
} 

#recall {
    display: grid;
    grid-template-columns: 140px 140px;
}

.header {
    color: var(--box);
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border);
    text-align: center;
    font-size: 1.5rem;
}

#recall .header {
    font-size: smaller;
}

.btn {
    font-size: small;
    border: 2px solid var(--border);
    border-radius: 3px;
    background-color: var(--box);
    width: 80%;
    height: 21px;
    margin: auto;
    margin-top: 2px;    
    vertical-align:auto;
    justify-content: center;
    padding: auto;
    padding-top: 3px;
    padding-left: 10px;
}

.used {
    background-color: var(--gray);
}

.btn:hover {
    border: 2px solid var(--active);   
}

p {
    color: var(--box);
    width: 80%;
    margin:auto;
    margin-top: 10px;
}

.words {
    height: 310px;
    overflow-y: scroll;
}

.words > p {
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--active);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--active);
  }