<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/static/javascript.js"></script>
    <title></title>
</head>
<body>
    <div class="message-container">
       {{msg}} 
    </div>
    <img class="svg" id="info" src="/static/info-circle.svg"/>
    <img class="svg" id="close" src="/static/x-circle.svg"/>
    <div class="block-container">
        {% for _ in range(6) %}
            <div class="word-container">
                {% for _ in range(5) %}
                    <div class="char-container"></div>      
                {% endfor %} 
            </div> 
        {% endfor %}
    </div>
    </br>
    </br>
    <div class="keyboard">
        <div class="keyboard-row">
            {% for key in "QWERTYUIOP⌫" %}
                <div class="key" id="{{ key }}">
                    {{ key }}
                </div>
            {% endfor %}
        </div>  
        <div class="keyboard-row">
            {% for key in "ASDFGHJKL⏎" %}
                <div class="key" id="{{ key }}">
                    {{ key }}
                </div>
            {% endfor %}
        </div>  
        <div class="keyboard-row">
            {% for key in "ZXCVBNM" %}
                <div class="key" id="{{ key }}">
                    {{ key }}
                </div>
            {% endfor %}
        </div>  
      
        <div class="popup" id="endgame">
            <div class="header">
                Guess the database
            </div>
            
            {% for i, name in names %}

                <div class="btn" id="{{ i }}">
                    {{ name }}
                </div>
                
            {% endfor %}
        </div>
        <div class="popup" id="welcome">
            <div class="header">
               <strong>Welcome to <i>CS50</i>ell</strong>
            </div>
            <p>
                 Generate Lorem Ipsum placeholder text. Select the number of characters, words, sentences or paragraphs, and hit generate!
            </p> 
        </div>

        <div class="popup" id="recall">
            <div class="col" id="left">
                <div class="header">
                    In database
                </div>
                <div class="words">

                </div>
            </div>
            <div class="col" id="right">
                <div class="header">
                    Not in database
                </div>
                <div class="words">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>