<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/static/javascript.js"></script>
    <title></title>
</head>
<body>
    <div class="block-container">
        <div class="word-container" id="current-row">
            <div class="char-container" id="current-char"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
       
        </div> 
        <div class="word-container">
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
       
        </div> 
        <div class="word-container">
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
       
        </div> 
        <div class="word-container">
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
       
        </div> 
        <div class="word-container">
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
       
        </div> 
        <div class="word-container">
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
            <div class="char-container"></div>
       
        </div> 
    </div>
    
</body>
</html>